*{
 box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    background-color: thistle;
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: black;
}

aside{
    width: 10%;
    float: left;
    padding: 10px;
}

section{
    width: 50%;
    float: left;
    padding: 10px;
}

article{
    border: 2px solid;
    width: 40%;
    float: right;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: lightcoral;
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px) {
    aside, section, article{
    width: 100%;
    }
}



